		body {
			padding: 0px;
			
		}


      #main_div {
	  
	position: relative;
	height: 700px;
	width: 978px;  /*!!! auto ??*/
	padding: 0px;
	margin: 0px;
	border: 1px;
	border-color: #3cbaeb; 
	border-style: solid;
	margin-left: auto ;
	margin-right: auto ;
        
}
	#title_div {

    		
    		position: absolute;	
    	
			padding: 0px;
		
        
        top: 30px;
        left: 15px;
        right: 15px;
		height: 50px;
	
 		
	}
      
	  
     #title_text {
		position: absolute;
      	color: #3cbaeb;
        font-size: 50px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin: 0px;
		bottom: -8;
        left: 20px;
        
      }
      
	        
      #home_link {
        position: absolute;
        font-size: 25px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      	
        right: 20px;
		bottom: 0;
        
      }
      
	  
      a {text-decoration: none;}
      a:link {color:#969696;}      
      a:visited {color:#969696;}  
      a:hover {color:#3cbaeb;}  
      a:active {color:#3cbaeb;}   
		
	  a.current_link {color:#3cbaeb;}
	  
	   #content_div {

    		position: absolute;	
    	
			padding: 0px;
			border: 1px;
			border-color: #3cbaeb; 
			border-style: solid;
		
        
        top: 100px;
        left: 15px;
        right: 15px;
		height: 450px;
		z-index: 1;
	}
      
      #info_div {

				position: absolute;	
    	
			padding: 0px;
			/*border: 1px;
			border-color: #3cbaeb; 
			border-style: solid;*/
		
        top: 80px;
        left: 220px;
        right: 10px;
	}
	

      #home_img {

    		position: absolute;	
        top: 90px;
		left: 40px;
	}
      
      #home_text {
        position: absolute;
		font-size: 15px;
      	color: #969696;
        right: 10px;
      
      }
	  
	  #menu_list {
      list-style-type: none;

      }
	  

#video_cats_div {
			border: 1px;
			border-color: #3cbaeb; 
			border-style: solid;

		position: absolute;
      	color: #3cbaeb;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin: 0px;
		padding: 0px;
		top: 550px;
		height: 50px;
		
        left: 15px;
		right: 15px;
		text-align: center;
		overflow: hidden;
}


#video_cats_scroll {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	width: 100%;
	}

#video_cat_list {
	
	margin: 0;
	padding: 0;
	
	display: table;
	width: 100%;
	}
	
#video_cat_list li {
	display: table-cell;
	}

#video_select_div {
			border: 1px;
			border-color: #3cbaeb; 
			border-style: solid;

		position: absolute;
      	color: #3cbaeb;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin: 0px;
		padding: 0px;
		top: 600px;
		height: 100px;
		
        left: 15px;
		right: 15px;
		text-align: center
		overflow: hidden;
}

#video_select_scroll {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	/*width: 200%;*/
	}

.video_select_class {
	
	margin: 0;
	padding: 0;
	
	display: table;
	width: 100%;
	}
	
.video_select_class li {
	
	display: table-cell;
	}
	
	
	/* utility page */
	

		#tabs {
			postion: relative;
			top: 70px;
			width: 75%;
			float: left;
		}
		
		#fragment-1, #fragment-2 {
			/*postion: absolute;*/
			height: 500px;
		
		}

		#videos_div {
			position: absolute;
			top: 150px;
			width: 450px;
			height: 475px;
			padding: 0px;
			margin: 0px;
			text-wrap: none;
			
			
		}

		#upload_div {
			position: absolute;
			width: 450px;
			height: 75px;
			padding: 0px;
			margin: 0px;
		
		}
		
		#video_list1_div, #video_list2_div {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 450px;
			height: 330px;
			padding: 0px;
			margin: 0px;
			cursor: pointer;
		}

		.vid_name {
			display: inline-block;
			/*position: absolute;*/
			/*width: 50px;*/
		}
		.vid_file {
			position: absolute;
			left: 200px;
		}
		
	
	
	
	#video_list1, #video_list2 {	
	overflow:scroll;
	overflow-x:hidden;	
	height: 400px;
	
	
	}
	
		#video_list1 li, #video_list2 li {	
			/*list-style-image: url('sqpurple.gif');*/
		
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			color: #ad855c;
			font-size: 15px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;			
			/*background-color: #e6dace;*/
			

			
		}
				
		.video_name_hdr {
			position: absolute;
			font-size: 15px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;		
			left: 40px;
		}
		
		.video_file_hdr {
			position: absolute;
			font-size: 15px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;		

			left: 200px;
		}
		
		
		/*
		#video_list1 li .file, #video_list2 li .file {
			margin-left: 100px;
		}*/
		
		

		
		input:hover {background-color: #F0F0F0;}
		input:focus {background-color: #F9F9F9;}
		select:hover {background-color: #F0F0F0;}
		select:focus {background-color: #F9F9F9;}
	
		#video_info_div {
			position: absolute;
			left: 500px;
			top: 175px;
			width: 270px;
			padding: 0px;
			margin: 0px;
			font-size: 12px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;			
			/*background-color: #e6dace;*/			
			
		}
		
			.vid_info_input {
			position: absolute;
			left: 100px;
			width: 200px;
			

				border-width: 1px;
				
			}
			
			#video_upload_div {
				position: relative;
				font-size: 12px;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
				width: 320px;
			}
			
			
			/*
			#form_video_upload { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
			
			.progress { position:absolute; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
			*/
			.bar { position:absolute; background-color: #e0e0e0; width:0%; height:20px; border-radius: 3px; }
			.percent { position:absolute; display:inline-block; left: 48%; }
			
			
		#save_vid_info {
			float: right;
			color: red;
			cursor: pointer;
		
		}
		
		#add_cat_video {
			float: right;
			color: red;
			cursor: pointer;
		
		}

		#del_video {
			color: red;
			cursor: pointer;
		
		}
		
		#del_cat {
			color: red;
			cursor: pointer;
		
		}
		
		#add_video_div {
			position: absolute;
			text-align: center;
			left: 500px;
			top: 400px;
			padding: 0px;
			margin: 0px;
			

			font-size: 12px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;					
			
		
		}
		
		#del_video_div {
			position: absolute;
			text-align: center;
			left: 640px;
			top: 330px;
			padding: 0px;
			margin: 0px;
			font-size: 12px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
			z-index: 1;	
		}

		
		#cats_list_div {
			position: absolute;
			left: 550px;
			top: 350px;
			width: 280px;
			padding: 0px;
			margin: 0px;
			

			font-size: 12px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;					
			cursor: pointer;
			
		}
	
		#add_cat {
			/*float: right;*/
			color: red;
			cursor: pointer;
			z-index: 5;
			
			
		}
		
		#cats_list {
		list-style-type: none;
		}
		
		#cats_list ul {
			display: none;
			list-style-type: none;
		}
		
	
	
	  

#video_cats_div {
			border: 1px;
			border-color: #3cbaeb; 
			border-style: solid;

		position: absolute;
      	color: #3cbaeb;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin: 0px;
		padding: 0px;
		top: 550px;
		height: 50px;
		
        left: 15px;
		right: 15px;
		text-align: center;
		overflow: hidden;
}


#video_cats_scroll {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	width: 100%;
	}

#video_cat_list {
	
	margin: 0;
	padding: 0;
	
	display: table;
	width: 100%;
	}
	
#video_cat_list li {
	display: table-cell;
	}

#video_select_div {
			border: 1px;
			border-color: #3cbaeb; 
			border-style: solid;

		position: absolute;
      	color: #3cbaeb;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		margin: 0px;
		padding: 0px;
		top: 600px;
		height: 100px;
		
        left: 15px;
		right: 15px;
		text-align: center
		overflow: hidden;
}

#video_select_scroll {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	/*width: 200%;*/
	}

.video_select_class {
	
	margin: 0;
	padding: 0;
	
	display: table;
	width: 100%;
	}
	
.video_select_class li {
	
	display: table-cell;
	}
	
#upload_div {

	font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif;
	
}

#video_play {
			position: absolute;
			width: 400px;
			height: 300px;
}

/* file input */

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	border-radius: 50px;
}